* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}

header,
footer {
    background-color: rgb(0, 38, 255);
    color: azure;
    padding: 10px;

}

main {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.game {
    background-color: aqua;
    width: 240px;

}

.game {
    background-color: darkgreen;
    width: 240px;
    padding: 10px;
    border-radius: 10px;
}

.game img {
    width: 100%;
}

.game button {
    background-color: chartreuse;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: rgb(250, 250, 250);
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: #7fff0080;
    backdrop-filter: blur(3px);

    height: 100vh;
    width: 180px;

    display: flex;
    align-items: center;
}

 nav label {
    position: absolute;
    top: 20px;
    left: 40px;
}


nav {
padding-left: 20px;
box-sizing: border-box;
transform: translate(180px,0);
transition: transform .3s linear;

}
#menu {
    display: none;
}

#menu:checked ~ nav {
    transform: translate(0,0);
}
label { cursor: pointer;}
 marquee {
    margin-top: 20px;
 }

 marquee img {
border: solid 5px seagreen;
margin-right: 20px;
border-radius: 10px;

 }

 nav {
    z-index: 10;
 }
 